#igcommerce-utility-training-form-filters .accordion {clear: left;}
#igcommerce-utility-training-form-filters #edit-remove-filters {width: 100%;margin-right: 0;}
#igcommerce-utility-training-form-search .description {clear: left;}