.node-type-webform {
  background: $gray-e;
  select {
    box-sizing: border-box;
    font-family: $base-font-family;
    font-size: $base-font-size;
    margin-bottom: $base-spacing / 2;
    padding: 8px 6.5px;
    transition: border-color;
    width: 100%;
    &:focus {
      border-color: $action-color;
    }
  }
  .main-container {
    padding-left: 15px;
    padding-right: 15px;
    #block-system-main {
      @include media($screen-sm) {
        @include shift(1)
        @include span-columns(10);
      }
      @include media($screen-md) {
        @include shift(2)
        @include span-columns(8);
        .form-item:not(.webform-component-radios):not(.form-type-radio) label {
          @include span-columns(4);
        }
        input:not([type=radio]),
        select {
          @include span-columns(8);
          margin-right: 0;
        }
        .description {
          clear: both;
          text-align: right;
          @include span-columns(12);
          margin-bottom: $base-spacing / 2;
        }
        input.webform-submit {
          clear: both;
          width: 100%;
          color: $black;
        }
      }
    }
  }
}
