#igcommerce-utility-manuals-form-filter #edit-remove-filters {width:100%; float:none; }
.training-library-list-items {clear: left;}
.no-results {clear:left;}
#igcommerce-utility-manuals-form-filter.no-filters { padding: 0px;}