/* Moved to theme _pane-igcommerce-utility-product-tocs-new-products.scss
	.new-product-img, .new-product-summary{
	    display: inline-block;
	    float: left;
	}
	
	.new-product-img{
	    width: 30%;
	}
	
	.new-product-summary{
	    padding-left: 30px;
	    width: 70%;
	}
	*/